:root {
    --white: #fff;
    --grayLight: #9E9E9E;
    --black: #1A1A1A;
    --dark: #4D4D4D;
    --darkMoreLight: #9e9e9e9c;
    --darkLight: #B3B3B3;
    --darkExtraLight: #F2F2F2;
    --darkBlue: #000A1D;
    --bgButtons: #212121;
    --bgRectangleFather: #031F1E;
    --bgImage: #FCECDF;
    --fontFurnite: "Abril Fatface", serif;
    --yellowLight: #FFC94B;
    --lineDivider: #E0E0E0;
    --red: #D20000;
}

body {
    background: linear-gradient(135deg, #7d7d81 0%, #3b0764 30%, #693f8a 50%, #072a61 80%, #3b82f6 100%);
    min-height: 100vh;
}

.container {
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.t-uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.item-center {
    align-items: center;
}

.container-create-acount .content-create-acount .vintage-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -8rem;
    gap: 3rem;
}

.container-create-acount .content-create-acount .vintage-cont .img-create-acount {
    margin-left: 3rem;
}

.container-create-acount .content-create-acount .vintage-cont .slider-carousel {
    width: 70%;
    margin: 0 auto;
}

.container-create-acount .content-create-acount .vintage-cont .slider-carousel .activate {
    width: 9rem;
    background-color: var(--white);
}

.container-create-acount .content-create-acount .vintage-cont .slider-carousel span {
    margin-top: 2rem;
    width: 7rem;
    height: 3px;
    background-color: var(--darkMoreLight);
    margin-right: 2rem;
}

.container-create-acount .content-create-acount .form-create-acount {
    width: 40%;
    padding: 20px;
    background-color: var(--white);
    margin-top: 1rem;
}

.container-create-acount .content-create-acount .form-create-acount .content-form-create-acount {
    max-width: 600px;
    margin: 0 auto;
}

.container-create-acount .content-create-acount .form-create-acount .content-form-create-acount .buttons-options {
    gap: 30px;
    margin-bottom: 24px;
}

.container-create-acount .content-create-acount .form-create-acount .content-form-create-acount .buttons-options button {
    padding: 8px 40px;
    border: 1px solid var(--darkLight);
    background: var(--white);
    cursor: pointer;
    font-weight: 700;
}

.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount fieldset .socialReason,
.cardIdentity,
.direction,
.password,
.contactPerson,
.email,
.name {
    grid-column: 1 / -1;

}


.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount fieldset>div {
    position: relative;
    width: 91%;
}

.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount input #socialReason,
#cardIdentity,
#direction,
#password,
#contactPerson,
#email,
#socialReason,
#name {
    width: 101%;

}

.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount input {
    width: 90%;
    height: 25px;
    padding: 20px 16px 0;
    border: 1px solid var(--darkLight);
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    background: transparent;
    z-index: 1;
}

.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount .country input {
    background-color: var(--darkMoreLight);
}

.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount label {
    left: 16px;
    top: 20px;
    background: transparent;
    padding: 0 2px;
    color: var(--dark);
    transition: all 0.2s ease-out;
    transform-origin: left top;
    pointer-events: none;
    font-size: 14px;
}

.form-data-create-acount input:focus~label,
.form-data-create-acount input:not(:placeholder-shown)~label {
    transform: translateY(-12px) scale(0.75);
    color: #007bff;
}

.container-create-acount .content-create-acount .form-create-acount .form-data-create-acount input:focus {
    outline: none;
    border-color: var(--dark);
}

.form-data-create-acount input[type="submit"] {
    grid-column: 1 / -1;
    background-color: var(--bgButtons) !important;
    color: var(--black);
    border: none;
    padding: 2px !important;
    cursor: pointer;
    margin-top: 16px;
    height: 60px !important;
    color: var(--white);
    width: 98% !important;
}

/*F00ter*/
.footerCreateAcount {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30rem;
    margin-right: 6rem;
    color: var(--white);
}

.footerCreateAcount .needHelp i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.footerCreateAcount .needHelp a {

    color: var(--white);
}

/*Header*/
.container-header .content-header {
    margin-right: 2rem;
}

.container-header .content-header,
.icons-header {
    gap: 6px;
}

.container-header .content-header,
.icons-header,
.Companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header .content-header a .Companies {
    background-color: var(--darkBlue);
    border-radius: 1.7rem;
    gap: 6px;
    height: 2rem;
}

.container-header .content-header a .Companies .icon {
    background-color: var(--white);
    border-radius: 50%;
    margin-left: 3px;
}

.container-header .content-header .Companies .icon i {
    color: var(--black);
    font-size: 1.6rem;
}

.container-header .content-header .Companies p {
    color: var(--white);
}

.container-header .content-header .flag {
    margin-left: 10px;

    &:hover {
        cursor: pointer;
    }

    color: var(--white);
    gap: 4px;
}

.container-header .content-header .flag i {
    font-size: 12px;
    margin-top: 0.2rem;
}

.container-header .content-header .icons {
    margin-left: 9px;
}

.container-header .content-header .icons a {
    color: var(--white);
    font-size: 24px;
    gap: 5px;

    &:hover {
        cursor: pointer;
    }

    ;

}

/*Categories*/
.container-categories .content-categories button {
    background-color: transparent;
    border: none;
}

.container-categories .content-categories button i {
    font-size: 1.8rem;
    color: var(--white);

    &:hover {
        cursor: pointer;
    }
}

.container-categories .content-categories button a {
    color: var(--white);
    margin-top: 4px;
}

.container-categories .content-categories .categories a {
    margin-top: 4px;
    color: var(--white);
    margin-left: 10px;
}

/*Splide*/
.splide {
    width: 100%;
    max-width: 1500px;
}


.splide-content img {
    width: 100%;
    display: block;
    border-radius: 10px;

}

.text-overlay {
    top: 30%;
    left: 10%;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.text-overlay h1 {
    background: linear-gradient(to right, #FBCC55 0%, #AC8C3A 40%, #957932 40%, #E7C366 73%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.5rem;
    margin: -3rem 0 0 4rem;
    font-weight: bold;
}

.text-overlay span {
    display: block;
    width: 50%;
    margin-left: 8rem;
    margin-top: -1.3rem;
    font-size: 2rem;
    font-weight: 800;
}

.text-overlay p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    width: 90%;
    margin: 1.1rem;
}

.splide .container-rectangle {
    background-color: var(--darkMoreLight);
    margin-top: -13rem;
    height: 100px;
    width: 60%;
    margin-left: 17rem;

}

.splide .container-rectangle .content-rectangle {
    width: 80%;
    gap: 0.4rem;

}

.splide .container-rectangle .content-rectangle .first-rectangle {
    width: 80%;
}

.splide .container-rectangle .content-rectangle .first-rectangle,
.second-rectangle {
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 1rem;
}

.splide .container-rectangle .content-rectangle .first-rectangle i,
.second-rectangle i {
    font-size: 2rem;
}

.splide .container-rectangle .content-rectangle .first-rectangle h2,
.second-rectangle h2 {
    font-size: 1rem;
}

.splide .container-rectangle .content-rectangle .second-rectangle {
    width: 50%;
}

.splide .container-rectangle .content-rectangle .button-reservation {
    background-color: #031F1E;
    height: 40px;
    margin-top: 1.6rem;
    border-radius: 20px;
    width: 80%;
}

.splide .container-rectangle .content-rectangle .button-reservation .circle {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    margin: 6px 0 0 .3rem;
}

.splide .container-rectangle .content-rectangle .button-reservation .circle i {
    justify-content: center;
    margin-top: 3px;
    color: var(--black);
    font-size: 1.4rem;
}

.splide .container-rectangle .content-rectangle .button-reservation h2 {
    font-size: 1rem;
    margin-left: 5px;
}

/*Second carousel*/
.container-carousel .content-carousel {
    background-color: var(--white);
    margin-top: -1.3rem;
}

.container-carousel .content-carousel .iconLeft,
.iconRight {
    background-color: var(--darkExtraLight);
    width: 30px;
    height: 60px;
    margin-top: 2rem;
    -webkit-box-shadow: 4px 10px 26px 3px rgba(214, 203, 214, 1);
    -moz-box-shadow: 4px 10px 26px 3px rgba(214, 203, 214, 1);
    box-shadow: 4px 10px 26px 3px rgb(204, 190, 204);

    &:hover {
        cursor: pointer;
    }

    ;

}

.container-carousel .content-carousel .iconLeft i,
.iconRight i {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.container-carousel {
    width: 100%;
    padding: 20px 0;
}

.content-carousel {
    width: 100%;
}

.content-products {
    width: 100%;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scrollbar-width: none;
}

.content-products::-webkit-scrollbar {
    display: none;
    /* Para Chrome y Safari */
}

.firstFournite {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
}

.firstFournite img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.firstFournite::after {
    content: '';
    position: absolute;
    margin: -3px;
    border-radius: 50%;
    border: 4px dashed #ef4444;
    animation: girar 10s linear infinite;
    z-index: 0;
    width: 130px;
    height: 130px;
}

.firstFournite p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .firstFournite img {
        width: 100px;
        height: 100px;
    }

    .firstFournite::after {
        width: 100px;
        height: 100px;
    }

    .firstFournite p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .firstFournite img {
        width: 80px;
        height: 80px;
    }

    .firstFournite::after {
        width: 80px;
        height: 80px;
    }

    .firstFournite p {
        font-size: 11px;
    }

    .content-products {
        gap: 10px;
    }
}

/*Login*/
.checkBoxPassword {
    justify-content: space-between;
    margin-top: 8px;
}

.checkBoxPassword .checkbox {
    gap: 12px;
    margin: 9px 0 0 8px;
}

.checkBoxPassword .checkbox input {
    transform: scale(1.6);

    &:hover {
        cursor: pointer;
    }
}

.checkBoxPassword .checkbox span {
    margin-top: 3px;
}

.checkBoxPassword .password {
    margin: 1rem 1.3rem 0 0;
    /*top-right-buttom-left*/
}

.form-data-create-acount .or {
    gap: 9px;
}

.form-data-create-acount .or span {
    height: 2px;
    background-color: var(--lineDivider);
    width: 15.3rem;
}

.form-data-create-acount .or h4 {
    font-size: 1rem;
}

.form-data-create-acount .moreOptions div {
    border: 1px solid var(--lineDivider);
    border-radius: 10px;
    margin-top: 8px;
    gap: 2rem;

    &:hover {
        cursor: pointer;
    }
}

.form-data-create-acount .moreOptions div h4 {
    color: var(--dark);
}

.form-data-create-acount .moreOptions div .apple img .imgapple {
    margin-left: -1rem;
}

.form-data-create-acount .account {
    gap: 9px;
}

.form-data-create-acount .account h4 {
    color: var(--dark);
    font-size: 0.8rem;
}

.form-data-create-acount .account h4:last-child {
    cursor: pointer;
    color: var(--black);
}

/*Retrieve password*/
.retrievePassword {
    margin-top: 5rem;
}

/*Container Variety*/
.container-variety .content-variety {
    gap: 3rem;
    margin: 10rem 0 0 8px;
}

.container-variety .content-variety .ia {
    margin: -3rem 0 0 69rem;
}

.container-variety .content-variety .ia .message img {
    margin: -9rem 0 0 -5rem;
}

.container-variety .content-variety .ia .message .text-message h5 {
    margin-top: -8rem;
    margin-left: -3rem;
    text-align: justify;
    color: var(--red);
    font-family: var(--fontFurnite);
    transform: rotate(-45deg);
    width: 5rem;
    letter-spacing: 1px;
    line-height: 21px;
}

.container-variety .content-variety .content-img img {
    border-radius: 50% 50% 0 0;
    height: 3rem;
}

.container-variety .content-variety .content-img .img-fournite {
    height: 22rem;
}

.container-variety .content-variety .content-img .bg-cruz .description {
    margin: -11rem 0 0 1.4rem;
}

.container-variety .content-variety .content-img .description h2 {
    color: var(--white);
    font-family: var(--fontFurnite);
    margin: .9rem 0 0 2rem;
}

.container-variety .content-variety .content-img .description .content-sec h4 {
    color: var(--yellowLight);
    width: 20rem;
    text-align: center;
    margin-left: -12px;
}

.container-variety .reservate {
    width: 110px;
    height: 100px;
    background-color: var(--darkBlue);
    border-radius: 50%;
    margin: -4rem 0 0 -7px;
}

.container-variety .reservate h3,
i {
    margin-top: 2rem;
    color: var(--white);
}
/*Your party*/
.yourparty .content-yourParty{
    flex-direction: column;
    margin-top: 3rem;
}
.yourparty .content-yourParty .circle-yourParty{
    margin-left: 27rem;
}
.yourparty .content-yourParty .circle-yourParty img{
    width: 30rem;
}
.yourparty .content-yourParty .circle-yourParty .title-yourParty h3{
    margin: -2.7rem 0 0 2.3rem;
    color: var(--white);
    font-family: var(--fontFurnite);
    font-size: 1.5rem;
}
.yourparty .content-yourParty .content-yourPartyText{
    text-align: center;
    width: 24rem;
    font-size: 1.6rem;
    margin-top: -1.4rem;
    margin-left: 29rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.yourparty .content-yourParty .viewNow  {
    width: 7rem;
    height: 2.4rem;
    background-color: var(--yellowLight);
    margin-left: 37rem;
    margin-top: -1.5rem;
    &:hover{
        cursor: pointer;
    }
}
.yourparty .content-yourParty .viewNow .redPoint{
    width: 1rem;
    height: 1rem;
    background-color: var(--red);
    border-radius: 50%;
    margin-top: .7rem;
}
.yourparty .content-yourParty .viewNow .content h5{
    margin-top: 0.8rem;
    margin-left: .4rem;
}
.yourparty .content-yourParty .img-yourParty{
    margin-top: 4rem;
}
